In [1]:
import pandas as pd

pop = {"Nevada":{2001: 2.4, 2002:2.9}, "Ohio":{2000:1.5,2001:1.7, 2002:3.6 }}
frame3 = pd.DataFrame(pop)
frame3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [2]:
frame3.index.name = "year"; frame3.columns.name = "state"
frame3

state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5

In [15]:
obj3 = pd.Series(["blue", "purple", "yellow"], index=[0,2,4])
print(obj3)
obj3 = obj3.reindex(range(6), method='ffill')
print(obj3)

0      blue
2    purple
4    yellow
dtype: object
0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [13]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object