## Las matematicas tras la regresión logística
### Las tablas de contingencia

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../datasets/gender-purchase/Gender Purchase.csv")
df.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

In [3]:
df.shape

(511, 2)

In [4]:
contingencia_tabla = pd.crosstab(df["Gender"], df["Purchase"])
contingencia_tabla #Funcion pd.crosstable util para calcular las probabilidades

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [5]:
contingencia_tabla.sum(axis=1) #axis = 1 ... Sumando por filas

Gender
Female    265
Male      246
dtype: int64

In [6]:
contingencia_tabla.sum(axis=0) #axis = 2 ... Sumando por columnas

Purchase
No     231
Yes    280
dtype: int64

In [7]:
#La funcion pd.crosstable.div() se usa para dividir dos tablas
#creadas con pd.crosstab
contingencia_tabla.astype("float").div(contingencia_tabla.sum(axis=1),axis=0)
#A cada elemento de cada columna se divide entre la suma total obtenida por fila

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187

### Probabilidad Condicional

In [8]:
from IPython.display import display, Math, Latex #Librerias importantes

* ¿Cual es la probabilidad de que un cliente compre un producto sabiendo que es un hombre?
* ¿Cual es la probabilidad de que sabiendo que un cliente compra un producto sea mujer?

In [9]:
display(Math(r"P(Purcharse|Male)= \frac{Numero\ Total\ de\ compras\ hechas\ por\ hombres}{Numero\ total\ del\ hombres\ del\ grupo} = \frac{Purcharse\cap Male}{Male}"))

In [10]:
121/246 #Hombres que compran/total de hombres

0.491869918699187

In [11]:
display(Math(r'P(No\ Purchase|Male)= 1-P(Purchase|Male)'))

In [12]:
1 - 125/246

0.49186991869918695

In [13]:
display(Math(r'P(Female|Purchase)=\frac{Numero\ total\ de\ compras\ hechas\ por\ mujeres}{Numero\ total\ de\ compras} = \frac{Female\cap Purchase}{Purchase}'))

In [14]:
159/280

0.5678571428571428

In [15]:
display(Math(r'P(No\ Female|Purchase)= 1-P(Female|Purchase)'))

In [16]:
1-159/280

0.43214285714285716

In [17]:
display(Math(r'P(Purchase|Male)'))
print(round(121/246,2))
display(Math(r'P(No\ Purchase|Male)'))
print(round(125/246,2))
display(Math(r'P(Purchase|Female)'))
print(round(159/265,2))
display(Math(r'P(No\ Purchase|Female)'))
print(round(106/265,2))

0.49

0.51

0.6

0.4

### Ratio de posibilidades
Cociente en entre los casos de exito sobre los de fracaso en el suceso estudiado y para cada grupo

In [18]:
display(Math(r'P_m = \ Probabilidad\ de\ hacer\ compra\))
display(Math(r'odds_{purchase,male}=\frac{P_m}{1 - P_m}'))

SyntaxError: unterminated string literal (detected at line 1) (2269387092.py, line 1)